<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="chat-room/libs/bootstrap/bootstrap.min.css">
<script src="chat-room/libs/jquery/jquery.min.js"></script>
<script src="chat-room/libs/bootstrap/bootstrap.min.js"></script>


<script type="text/javascript"
	src="chat-room/libs/angular/angular.min.js"></script>
<script type="text/javascript"
	src="chat-room/libs/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="chat-room/libs/sockjs/sockjs.min.js"></script>
<script type="text/javascript"
	src="chat-room/libs/stomp-websocket/lib/stomp.min.js"></script>
<script type="text/javascript" src="chat-room/app.js"></script>
<script type="text/javascript" src="chat-room/service.js"></script>
<script type="text/javascript" src="chat-room/controller.js"></script>

</head>
<body ng-app="messengerApp">
	<div ng-controller="messengerCtrl">
		<nav class="navbar navbar-default">
			<center>
				<h3>Chat Room</h3>
				<h2>{{hellos}}</h2>
			</center>
		</nav>

		<div class="col-md-3">

			<form ng-submit="postMessage()" class="form-inline">
				<div class="form-group">
					<b>user Name</b> : <b><u>{{user}}</u></b>
				</div>
				<div class="form-group">
					<!-- 				<label for="message"></label> -->
					<input class="form-control" type="text" ng-model="newMsg"
						ng-required="true" id="message" placeholder="New Message">
				</div>
				<div class="form-group">
					<button class="btn btn-success">
						Post Message <span class="glyphicon glyphicon-comment"></span>
					</button>
				</div>
			</form>
		</div>

		<div class="col-md-9">
			<center>
				<h5>Messages Board</h5>
			</center>
			<hr>
			<div ng-repeat="msg in messages | orderBy:'-id'">
				<b><u>{{msg.user}} :</u> </b><span>{{msg.text}}</span><br>
			</div>
		</div>


	</div>


</body>
</html>